@model PetHotel.Core.Models.GalleryModels.UploadModel
@{
    Layout = "/Views/Shared/_LayoutClient.cshtml";
}

<div class="container body-content">
    <div class="row upload-container">
        <div class="upload-form drop-shadow">

            <form asp-action="UploadNewImage" method="post"enctype="multipart/form-data" id="upload-form">
               

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <input asp-for="File" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" asp-area="Employee" asp-controller="Image" asp-action="UploadNewImage" class="btn btn-primary" />
                </div>

            </form>

        </div>

    </div>

</div>
