@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <section class="home-page">
        @if (this.User?.Identity?.IsAuthenticated ?? false)
        {
            <h1 class="display-4">@this.User.Identity.Name</h1>

            @if (this.User?.IsInRole(PetHotel.Common.GlobalConstants.AdministratorRoleName) ?? false)
            {
                <h1 class="display-4"> You have admin rights</h1>
            }
            @if (this.User?.IsInRole(PetHotel.Common.GlobalConstants.UserRoleName) ?? false)
            {
                <h1 class="display-4"> You have user rights</h1>
                <a class="nav-link text-dark" asp-area="Client" asp-controller="Pet" asp-action="Create">Add a pet</a>
                <a class="nav-link text-dark" asp-area="Client" asp-controller="Hotel" asp-action="AllMine" >My checked in pets</a>
            }

        }
    </section>
  
</div>
