@model ICollection<PetHotel.Core.Models.HomeModels.PricesViewModel>
@{
    ViewData["Title"] = "Prices";
     @if (this.User?.IsInRole(PetHotel.Common.GlobalConstants.EmployeeRoleName) ?? false)
    {
        Layout = "/Views/Shared/_LayoutClient.cshtml";
    }
    @if (this.User?.IsInRole(PetHotel.Common.GlobalConstants.UserRoleName) ?? false)
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
    if (this.User.Identity.IsAuthenticated == false)
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }

    @if (this.User?.IsInRole(PetHotel.Common.GlobalConstants.AdministratorRoleName) ?? false)
    {
        Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<head>
<style>
img {
  width:400px;
  height:300px;
}
</style>
</head>
<body>
    <img src="~/Images/rooms.jpg"  width="400" height="300">
    <div>
 <h2>Price List:</h2>
    @foreach (var item in Model)
    {
              <ul>
               <li>@item.Title - @item.Price.ToString("0.00") lv. Per Day</li>
              </ul>
    }
    </div>
    
</body>