@model PetHotel.Core.Models.GalleryModels.UploadModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="row upload-container">
        <div class="upload-form drop-shadow">

            <form asp-action="UploadNewImage" method="post"enctype="multipart/form-data" id="upload-form">
                @*<table border="0" cellpadding="2" cellspacing="2">
                    <tr>
                        <td>Title</td>
                        <td>
                            <input asp-for="Title" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>Tags</td>
                        <td>
                            <input asp-for="Tags" />
                              <span asp-validation-for="Tags" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Upload Image</td>
                        <td>
                            <input asp-for="File" />
                            <span asp-validation-for="File" class="text-danger"></span>
                            <input type="submit" class="btn btn-primary" />
                        </td>
                    </tr>

                </table>*@

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <input asp-for="File" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" asp-area="Client" asp-controller="Image" asp-action="UploadNewImage" class="btn btn-primary" />
                </div>

            </form>

        </div>

    </div>

</div>
