@model PetHotel.Core.Models.GalleryModels.GalleryDetailsModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
  
}

<style>
    img {
        width: 600px;
        height: 700px;
    }
</style>
<body>
    <div>
    <h2>@Model.Title</h2>
        <img src=" @Model.Url" alt="Paris" width="400" height="300">
    </div>

    <div class="container ">
        <span> Uploaded: @Model.Created</span>
        <div>
        <a class="btn btn-primary" asp-controller="Gallery" asp-action="DisplayGallery">Back To Gallery</a>
        </div>
    </div>
    
</body>