@model PetHotel.Core.Models.GalleryModels.GalleryIndexModel
@{
    
     @if (this.User?.IsInRole(PetHotel.Common.GlobalConstants.EmployeeRoleName) ?? false)
    {
        Layout = "/Views/Shared/_LayoutClient.cshtml";
    }
    @if (this.User?.IsInRole(PetHotel.Common.GlobalConstants.UserRoleName) ?? false)
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
    if (this.User.Identity.IsAuthenticated == false)
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }

    @if (this.User?.IsInRole(PetHotel.Common.GlobalConstants.AdministratorRoleName) ?? false)
    {
        Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
            height: 300px;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
    <h3>Gallery</h3>
</head>
<body>
        @foreach (var image in Model.Images)
        {
    string hashtags = string.Join("#", image.Tags.Select(x => x.Description));
    <div class="gallery">
             <a target="_blank" href="@image.Url">
            <img src="@image.Url" alt="Cinque Terre" width="600" height="400">
                 </a>
        <div 
            class="desc">@image.Title #@hashtags
                <form asp-area="Client" asp-controller="Gallery" asp-action="Details" method="get">
                    <input type="hidden" asp-for="@image.Id" name="id" />
                    <input type="submit" value="Details" class="btn btn-info" />
                </form>
        </div>
        
                </div>
        
        }

</body>