<!DOCTYPE html>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 80%;
        }
    </style>
</head>
<body>
    <p>We are located here:</p>
    <div id="map"></div>
    <script>
        function initMap() {
            var test = { lat: 42.733828, lng: 23.290427 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: test
            });
            var marker = new google.maps.Marker({
                position: test,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATTv-2Occu0EZgqMfrU06cjKIA_yS-BfQ&callback=initMap">
    </script>
</body>
</html>