@model PetHotel.Core.Models.HotelModels.AddGuestViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Name)
            
            <div>Change the reservation for @Model.Name</div>
            
              <label asp-for="CheckInDate" class="control-label"></label>
            <input type="datetime-local" asp-for="CheckInDate" class="form-control">
            <span asp-validation-for="CheckInDate" class="text-danger"></span>


            <label asp-for="CheckOutDate" class="control-label"></label>
            <input type="datetime-local" asp-for="CheckOutDate" class="form-control">
            <span asp-validation-for="CheckOutDate" class="text-danger"></span>


            <div class="form-group">
                <input type="submit" value="Add" asp-area="Client" asp-controller="Hotel" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
